<h2>Template: Básicos</h2>
<hr>

<div class="roe">
    <div class="col">
        <form (ngSubmit)="guardar()" 
              #form="ngForm" 
              autocomplete="off">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text"
                            name="producto"
                            ngModel
                            class="form-control"
                            required
                            minlength="3"
                            placeholder="Nombre del producto">
                    <span *ngIf="productoValido()"
                          class="form-text text-danger">
                        Debe de ser de 3 letras minimo
                    </span>
                </div>
            </div>
           
           
            <!-- Campo de precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                            name="precio"
                            [ngModel]="defaultValues.precio"
                            class="form-control"
                            min="0"
                            required
                            placeholder="Existencias del producto">

                    <span *ngIf="precioValido()"
                          class="form-text text-danger">
                        El precio debe ser mayor a 0
                    </span>
                </div>
            </div>
            
            
            <!-- Campo de Existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                            name="existencias"
                            [ngModel]="defaultValues.existencias"
                            customMin
                            [minimo]="0"
                            class="form-control"
                            placeholder="Precio del producto"
                            required>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit" 
                            [disabled]="!form.valid"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{  form.valid }}</pre>

        <span>Pristine</span>
        <pre>{{  form.pristine }}</pre>
        
        <span>Touched</span>
        <pre>{{  form.touched }}</pre>
        
        <span>Value</span>
        <pre>{{ form.value | json }}</pre>
        
    </div>
</div>